<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">
	<insert id="adddtcomment" parameterType="Map">
		insert into yun_LeaveMessage
		(messagePeopleId,
		createTime,
		content,
		ithingsId,
		messageType,respond_eopleId,parent_id) 
		values(#{userid},NOW(),#{content},#{ithingsid},#{ctype},#{Respond_eopleId},#{parent_id})
	</insert>

	<!--查询评论表 -->
	<select id="TMessage" parameterType="Map" resultType="Map">
		select
		msg.ly_id,
		msg.messagePeopleId,
		u.user_name,
		msg.createTime,
		msg.content,
		msg.ithingsId,
		msg.messageType,
		msg.respond_eopleId,
		(select user_name from yun_user y where y.user_id=msg.respond_eopleId) as respond_name,
		msg.parent_id,
		(select count(*) from yun_LeaveMessage where messageType=#{messageType} and ithingsId=#{ithingsId}) as commentnum
		from yun_LeaveMessage msg	
		LEFT JOIN yun_user u on msg.messagePeopleId=u.user_id
			where
			msg.messageType=#{messageType} and msg.ithingsId=#{ithingsId}
		order by  msg.createTime desc
	</select>
</mapper>